*{
    MARGIN: 0;
    padding: 0;
}
.main{
    wdith: 100%;
    background: url(bg1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -5%;
    margin-left: -2%;
}
ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-top: -50%;
    transition: .4s ease;
}
ul li a:hover{
    color: aqua;
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}
.info h1{
    font-size: 85px;
    color: rgb(122, 237, 237);
}    
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color:rgb(236, 162, 207)
}
.info a{
    text-decoration: none;
    color: black;
    background-color: rgb(223, 145, 198);
    margin: 15px;
    padding: 15px;
    border-radius: 18px;
    display: inline-block;
    transition: 3s ease;
}
.info a:hover{
    background-color: aqua;
}
.icons a{
    text-decoration: none;
    color: black;
}
.icons ion-icon{
    margin-left: 8%;
    color: black;
    margin-right: -60px;
    font-size: 40px;
    transition: .4s ease;
}
.icons ion-icon:hover{
    color: aqua;
}
